<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>员工须知</title>
    <link rel="stylesheet" href="{CSS_PATH}frozen.css">
    <link rel="stylesheet" href="{CSS_PATH}demo.css">
    <link rel="stylesheet" href="{CSS_PATH}style.css">
</head>
<body>
<header class="title">
    {php $pc_hash = get_hash();}
    <h1>{$title}</h1>
</header>
<section class="ui-container ui-txt-justify ui-whitespace">
    {if $pictureurl}{$pictureurl}<br>{$pages}{/if}
    {$content}
</section>
<div class="ui-footer ui-footer-stable ui-justify ui-border-t" style="text-align:center;">
    <a href="###" style="top:30%" uid="{$uid}" newsid="{$id}" class="read ui-btn disabled">我已阅读<label>(<span id="sec">15</span>s)</label></a>
</div>
<script src="{JS_PATH}jquery.min.js"></script>
<script src="{JS_PATH}zepto.min.js"></script>
<script src="{JS_PATH}frozen.js"></script>
<script type="text/javascript">
    $(function () {
        setTimeout("lazyGo();", 1000);

        //点击我已阅读
        $('a.read').click(function(){
            var a = $(this);
            var newsid = a.attr('id');
            var userid = a.attr('uid');
            var url = '/api.php?op=ygxz&a=read&newsid='+newsid+'&userid='+userid;
            $.ajax({
                url: url,
                method: "GET",
                dataType: "json"
            }).done(function (data){
                if (data.success) {
                    a.addClass('disabled');
                    a.html('您已阅读');

                    //跳转到员工须知列表页
                    location.href='/index.php?m=wap&siteid=1&a=lists&typeid=1';
                } else {
                    alert('系统繁忙，请稍后再试！');
                }
            }).fail(function () {
                alert('系统繁忙，请稍后再试！');
            });
        });
    });

    function lazyGo() {
        var sec = $("#sec").text();
        $("#sec").text(--sec);
        if (sec > 0) {
            setTimeout("lazyGo();", 1000);
        }else {
            $('label').remove();
            $('.read').removeClass('disabled');
            $('.read').addClass('ui-btn-primary');
        }
    }
</script>
</body>
</html>
